{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block title %}
    Forget Your Password?
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="col-6">
            <h1>Forget your passqord?</h1>
            <p>
                Enter your Email address below, and we'll Email instuction
                for setting a new one.
            </p> 
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <input type="submit" class="btn btn-success" value="Send me instructions!">
            </form>
        </div>
    </div>
{%endblock %}